<button class="button button__{{type}}" id="{{ id }}">
    {{#if icon_left}}
        <i class="fa {{ icon_left }}"></i>
    {{/if}}
    {{ label }}
    {{#if icon_right}}
        <i class="fa {{ icon_right }}"></i>
    {{/if}}
</button>
