<a class="button-link button-link__{{type}}" href="{{href}}" page="{{page}}" id="{{ id }}">
    {{#if icon_left}}
        <i class="fa {{ icon_left }}"></i>
    {{/if}}
    {{ label }}
    {{#if icon_right}}
        <i class="fa {{ icon_right }}"></i>
    {{/if}}
</a>
